@model IEnumerable<SafetyTourism.Models.GeoZone>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="main-btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeoZoneName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tablehover">
            <td onclick="location.href = '@Url.Action("Details", new { id=item.GeoZoneID })'">
                @Html.DisplayFor(modelItem => item.GeoZoneName)
            </td>
        </tr>
}
    </tbody>
</table>
