@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your safety travels!</h1>
    <p>Here we promise you that you will fly with the safety of knowing what risk you are taking.</p>
</div>
